{% extends 'base.html' %}
{% load staticfiles %}

{% block titulo %}Sua Receita{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Sobre</title>
</head>
<body>
    <nav>
        <a href="Yan"></a>
    </nav>
    {% endblock %}
</body>
</html>